<header>
  <div class="row navbar">
      <div class="span3">
      <%= link_to logo, root_path %>
      </div>
      <div class="span9">
        <nav class="top_h navbar-fixed-top">
          <ul class="pull-right">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Places", places_path %></li>
            <li><%= link_to "Help", help_path %></li>
            <li><%= link_to "Sign_in", "#" %></li>
          </ul>
        </nav>
      </div>
  </div>
</header>